.main-body{
    height: 100vh;
    width: 100vw;
    background-color: #54436B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch-container{
    height: 95%;
    border: 1px solid black;
    width:  990px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:   #50CB93;
    
}

.grid-container, .size-container, .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    font-size: 3rem;
}


.grid-container{
    background-color: #ACFFAD;
    height: 70%;
    width: 100%;
    display: grid;
}

.title-container, .size-container{
    height: 15%;
    width: 100%;
    background-color:   #50CB93;
    flex-direction: column;

}

.cell{
    border: 1px solid black;
    background-color:white;
}


.container{
    display: grid;
    height: 90%;
    width: 960px;
    
}

#reset{
    margin-top: 20px;
}

